.DS_Store
.idea
/.vs
/MQTTAvalonia/obj/Debug/net7.0/Avalonia/Resources.Inputs.cache
/MQTTAvalonia/obj/Debug/net7.0/MQTTAvalonia.AssemblyInfo.cs
/MQTTAvalonia/obj/Debug/net7.0/MQTTAvalonia.AssemblyInfoInputs.cache
/MQTTAvalonia/obj/Debug/net7.0/MQTTAvalonia.csproj.AssemblyReference.cache
/MQTTAvalonia/obj/Debug/net7.0/MQTTAvalonia.GeneratedMSBuildEditorConfig.editorconfig
/MQTTAvalonia/obj/Release/net7.0/Avalonia/resources
/MQTTAvalonia/obj/Release/net7.0/Avalonia/Resources.Inputs.cache
/MQTTAvalonia/obj/Release/net7.0/MQTTAvalonia.csproj.AssemblyReference.cache
/MQTTAvalonia/obj/Release/net7.0/MQTTAvalonia.GeneratedMSBuildEditorConfig.editorconfig
/MQTTAvalonia/obj/Debug/net7.0/MQTTAvalonia.assets.cache
/.vs/MQTTAvalonia/FileContentIndex/af0f505b-6268-4f7d-ae19-bd7818e46ba2.vsidx
/.vs/MQTTAvalonia/FileContentIndex/af0f505b-6268-4f7d-ae19-bd7818e46ba2.vsidx
/MQTTAvalonia/obj/Release/net7.0/MQTTAvalonia.assets.cache
/MQTTAvalonia/obj/MQTTAvalonia.csproj.nuget.dgspec.json
/MQTTAvalonia/obj/MQTTAvalonia.csproj.nuget.g.props
/.vs/MQTTAvalonia/v17/.suo
/MQTTAvalonia/obj/project.assets.json
/MQTTAvalonia/obj/project.nuget.cache
